h1 {
    size: 24px;
}

input{
    display: flex;
    flex-direction: column;
    margin: 20px;
    padding: 5px;
    width: 200px;
    font-size: 20px;
    /* outline: none; */
    /* border: none; */
}

button {
    margin-top: 10px;
    width: 200px;
    padding: 5px;
    background-color: rgb(156, 224, 245);
    border: rgb(217, 252, 252) solid 2px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 900;
    cursor: pointer;
}

.user{
    margin-left: 20px;
}

.btn2{
    background-color: rgb(245, 233, 156);
    border: rgb(252, 252, 217) solid 2px;
}